<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--依赖注入注册配置节点-->
    <section name="injectionRegisterConfiguration" type="SD.IOC.Core.InjectionRegisterConfiguration, SD.IOC.Core" />
    <!--Redis服务器配置节点-->
    <section name="redisConfiguration" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--缓存提供者配置节点-->
    <section name="cacheProviderConfiguration" type="SD.CacheManager.CacheProviderConfiguration, SD.CacheManager" />
    <!--ASP.NET服务器配置节点-->
    <section name="aspNetConfiguration" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--缓存提供者配置，Redis缓存-->
  <cacheProviderConfiguration type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="DataSource=.;Initial Catalog=|DataDirectory|SD.FileSystem.fdb;User=sysdba;Password=masterkey;Character Set=utf8;Server Type=Embedded;Client Library=Firebird/fbclient.dll;" providerName="FirebirdSql.Data.FirebirdClient" />
  </connectionStrings>

  <!--应用程序配置-->
  <appSettings>
    <add key="ServiceName" value="SD.FileSystem.AppService" />
    <!--服务显示名称-->
    <add key="ServiceDisplayName" value="SD.FileSystem.AppService" />
    <!--服务描述-->
    <add key="ServiceDescription" value="文件管理系统服务" />
    <!--实体所在程序集-->
    <add key="EntityAssembly" value="SD.FileSystem.Domain" />
  </appSettings>

  <!--依赖注入注册配置-->
  <injectionRegisterConfiguration>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.FileSystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.FileSystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
      <type name="SD.IdentitySystem.Membership.Owin.MembershipProvider" assembly="SD.IdentitySystem.Membership.Owin" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.FileSystem.Repository.Base.DbSession" assembly="SD.FileSystem.Repository" />
    </asBaseTypes>
  </injectionRegisterConfiguration>

  <!--Redis服务器配置-->
  <redisConfiguration password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </redisConfiguration>

  <!--ASP.NET服务器配置-->
  <aspNetConfiguration authorized="false">
    <!--Host地址列表-->
    <hosts>
      <host url="http://localhost:4987" />
    </hosts>
    <!--静态文件根目录-->
    <staticFiles>Views</staticFiles>
    <!--文件服务器根目录-->
    <fileServer>Files</fileServer>
  </aspNetConfiguration>

  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient" />
      <add name="FirebirdClient" description="FirebirdClient" invariant="FirebirdSql.Data.FirebirdClient" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
    </DbProviderFactories>
  </system.data>

  <entityFramework>
    <defaultConnectionFactory type="EntityFramework.Firebird.FbConnectionFactory, EntityFramework.Firebird" />
    <providers>
      <provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>