<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--EntityFramework配置节点-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--SD.Framework配置节点-->
    <section name="sd.framework" type="SD.Infrastructure.FrameworkSection, SD.Infrastructure" />
    <!--SD.IOC配置节点-->
    <section name="sd.ioc" type="SD.IOC.Core.DependencyInjectionSection, SD.IOC.Core" />
    <!--SD.CacheManager配置节点-->
    <section name="sd.cacheManager" type="SD.CacheManager.CacheManagerSection, SD.CacheManager" />
    <!--SD.Toolkits.Redis配置节点-->
    <section name="sd.toolkits.redis" type="SD.Toolkits.RedisSection, SD.Toolkits.Redis" />
    <!--SD.Toolkits.AspNet配置节点-->
    <section name="sd.toolkits.aspNet" type="SD.Toolkits.AspNet.AspNetSection, SD.Toolkits.AspNet" />
  </configSections>

  <!--连接字符串-->
  <connectionStrings>
    <!--默认连接字符串-->
    <add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=SD.FileSystem;User Id=sa;Password=broadmall123!;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--SD.Framework配置-->
  <sd.framework>
    <!--服务名称-->
    <service.name>SD.FileSystem.AppService(WebApi)</service.name>
    <!--服务显示名称-->
    <service.displayName>SD.FileSystem.AppService(WebApi)</service.displayName>
    <!--服务描述-->
    <service.description>文件管理系统WebApi服务</service.description>
    <!--数据库读连接名称-->
    <database.read.connectionName>DefaultConnection</database.read.connectionName>
    <!--数据库写连接名称-->
    <database.write.connectionName>DefaultConnection</database.write.connectionName>
    <!--实体所在程序集-->
    <entity.assembly>SD.FileSystem.Domain</entity.assembly>
    <!--实体配置所在程序集-->
    <entity.config.assembly>SD.FileSystem.Repository</entity.config.assembly>
  </sd.framework>

  <!--SD.IOC配置-->
  <sd.ioc>
    <!--As接口程序集列表-->
    <asInterfaceAssemblies>
      <assembly name="SD.FileSystem.Repository" />
    </asInterfaceAssemblies>
    <!--As自身程序集列表-->
    <asSelfAssemblies>
      <assembly name="SD.FileSystem.AppService" />
    </asSelfAssemblies>
    <!--As接口类型列表-->
    <asInterfaceTypes>
      <type name="SD.Infrastructure.Repository.EntityFramework.DbCleaner" assembly="SD.Infrastructure.Repository.EntityFramework" />
      <type name="SD.IdentitySystem.Membership.Owin.MembershipProvider" assembly="SD.IdentitySystem.Membership.Owin" />
    </asInterfaceTypes>
    <!--As基类类型列表-->
    <asBaseTypes>
      <type name="SD.FileSystem.Repository.Base.DbSession" assembly="SD.FileSystem.Repository" />
    </asBaseTypes>
  </sd.ioc>

  <!--SD.CacheManager配置-->
  <sd.cacheManager>
    <!--缓存提供者，Redis-->
    <cacheProvider type="SD.CacheManager.RedisProvider" assembly="SD.CacheManager.Redis" />
  </sd.cacheManager>

  <!--SD.Toolkits.Redis配置-->
  <sd.toolkits.redis password="">
    <!--服务器地址列表-->
    <endpoints>
      <endpoint name="" host="localhost" port="6379" />
    </endpoints>
  </sd.toolkits.redis>

  <!--SD.Toolkits.AspNet配置-->
  <sd.toolkits.aspNet authorized="false">
    <!--Host地址列表-->
    <hosts>
      <host port="4987" protocol="http" />
    </hosts>
    <!--静态文件根目录-->
    <staticFiles>Content</staticFiles>
    <!--文件服务器根目录-->
    <fileServer>Files</fileServer>
  </sd.toolkits.aspNet>

  <!--EntityFramework配置-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
